.container {
  width: 50%;
  margin: 60px auto 0 auto;
}
.go_back {
  position: absolute;
  font-size: 25px;
  font-weight: bold;
  top: 20px;
  left: 420px;
  cursor: pointer;
  color: gray;
  transition: 300ms ease-out;
}
.go_back:hover {
  color: black;
  transition: 300ms ease-in;
}
