@import "../../../variables.scss";

.container {
  margin: 60px auto 0 auto;
}

.input_container {
  width: 50%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 20px 30px 60px 30px;
  p {
    text-align: center;
    font-family: $fontTiltWarp;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  #firstInputWrapper {
    margin-top: 50px;
  }
  
}
