@import "../../../../../../variables.scss";

.wrapper{
    border: 1px solid rgba(128, 128, 128, 0.685);
    box-sizing: border-box;
    text-align: center;
    padding: 15px;
    font-family: $fontTiltWarp;
    font-weight: 400;
    border-radius: 5px;

}