@import "../../../../variables.scss";

.container {
  width: 80%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 30px 20px;
  h1 {
    text-align: center;
    text-transform: capitalize;
    font-family: $fontTiltWarp;
    letter-spacing: 2px;
  }
}





